rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
    match /users/{uid} {
      allow read;
			allow create, update: if request.auth.uid == uid;
  	}
    
    match /posts/{pid} {
      allow read;
      allow create: if request.auth != null;
      allow update, delete: if request.auth.uid == resource.data.userId;
    }
    
    match /comments/{cid} {
      allow read;
      allow create: if request.auth != null;
      allow update, delete: if request.auth.uid == resource.data.userId;
    }
    
    match /likes/{lid} {
      allow read;
      allow create: if request.auth != null;
      allow update: if request.auth.uid == resource.data.userId;
    }
    
    match /follows/{fid} {
      allow read;
      allow create: if request.auth != null;
      allow update: if request.auth.uid == resource.data.followerId;
    }
  }
}